.rowvalue {
  padding-top: 10px;
}

.uservalue {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userImage {
  object-fit: cover;
  border-radius: 50%;
}

.status {
  text-transform: capitalize;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  color: white;
}

.done {
  background-color: #afd6ee75;
}

.pending {
  background-color: #f7cb7375;
}

.cancelled {
  background-color: #f7737375;
}
